
.header {
	position: sticky;
	inset-block-start: 0;
	inset-inline-start: 0;
	z-index: 50;
	// .header__conrainer
	background-color: $lightColor;
	&__middle{
		background-color: $lightColor;
		position: relative;
		z-index: 6;
		// @media (max-width: toEm(991.98)) {
		// 	transition: all 0.3s;
		// 	position: fixed;
		// 	block-size: 100%;
		// 	inline-size: 100%;
		// 	inset-inline-start: -100%;
		// 	// inset-inline-start: 0%;
		// 	inset-block-start: 0;
		// 	overflow: auto;
		// 	background-color: #fff;
		// 	.menu-open & {
		// 		inset-inline-start: 0%;
		// 	}
		// }
		
	}
	
	&::before {
		content: "";
		position: fixed;
		inset-inline-start: 0;
		inset-block-start: 0;
		block-size: 100%;
		inline-size: 100%;
		background-color: rgba(0, 0, 0, 0.8);
		opacity: 0;
		visibility: hidden;
		transition: all 0.3s;
		z-index: 2;
	}
	.catalog-open & {
		&::before {
			opacity: 1;
			visibility: visible;
		}
	}

	&__footer{
		@media (min-width: toEm(992)) {
			transition: all 0.3s;
			.catalog-open & {
				filter: blur(toRem(2));
			}
		}
	}
}
.top-header {
		z-index: 10;
	// .top-header__block
		background-color: $lightColor;
		position: relative;
		// @media (max-width: toEm(991.98)) {
		// 	transition: all 0.3s;
		// 	position: fixed;
		// 	block-size: 100%;
		// 	inline-size: 100%;
		// 	inset-inline-start: -100%;
		// 	// inset-inline-start: 0%;
		// 	inset-block-start: 0;
		// 	overflow: auto;
		// 	background-color: #fff;
		// 	.menu-open & {
		// 		inset-inline-start: 0%;
		// 	}
		// }
		.menu-open & {
			inset-inline-start: 0%;
		}
	&__container{
		display: flex;
		justify-content: space-between;
		row-gap: toRem(20);
		column-gap: toRem(40);
		align-items: center;
		flex-wrap: wrap;
		padding-top: toRem(15);
		@media (max-width:toRem(991.98)) {
			display: flex;
			flex-direction: column;
			align-items: self-start;
		}
		// @media (min-width: toEm(992)) {
		// 	// Gap безпеки
		// 	padding-block: toRem(15);
		// 	gap: toRem(40);
		// 	align-items: center;
		// 	justify-content: space-between;
		// }
		// @media (max-width: toEm(991.98)) {
		// 	flex-direction: column;
		// 	gap: toRem(25);
		// 	padding-block-start: toRem(100);
		// 	padding-block-end: toRem(30);
		// }
		// @media (max-width: toEm(699.98)) {
		// 	padding-block-start: toRem(80);
		// }
	}
	&__block {
		font-weight: 400;
		font-size: toRem(16);
		line-height: 1.2;
		color: $greyColor;
		@media (max-width:toRem(1270)) {
			font-size: toRem(14);
			gap: toRem(20);
		}
		@media (max-width:toRem(991.98)) {
			display: flex;
			flex-direction: column;
		}
	}

	// .top-header__list-menu

	&__list-menu {
		display: flex;
		gap: toRem(30);
		flex-wrap: wrap;
		@media (max-width:toRem(991.98)) {
			display: flex;
			flex-direction: column;
			align-items: self-start;
		}
	}



	// .top-header__list-link


	&__list-link {
		
		transition: all 0.2s ease-in-out;
		@media (any-hover:hover) {
			&:hover{
				color: $yellowColor;
				
			}
		}
	}

}
.social-header {
	display: flex;
	gap: toRem(20);
	align-items: center;
	flex-wrap: wrap;
	// .social-header__label

	
	// .social-header__list

	&__list {
		color: #fff;
		display: flex;
		gap: toRem(10);
	}

	
	&__item {
		height: toRem(30);
		width: toRem(30);
		border-radius: 50%;
		img{
			width: 100%;
			height: 100%;
		}
		transition: all 0.3s ease-in-out;
		@media (any-hover:hover) {
			&:hover{
                
				transform: scale(1.1);
			}
		}
	}
}

.social-gap{
	display: flex;
	gap: toRem(30);
}
.switcher-lang {
	align-self: center;
	
	// .switcher-lang__label
	font-weight: 600;
	font-size: toRem(19);
	line-height: 126%;
	position: relative;
	z-index: 4;
	&__label {
		display: flex;
		flex-direction: row-reverse;
		gap: toRem(6);
		z-index: 5;
        position: relative;
		&::before{
			font-weight: 600;
			
			font-size: toRem(10);
		}
		cursor: pointer;
		
		transition: all 0.3s ease-in-out;
		@media (any-hover:hover) {
			&:hover{
				color: $yellowColor;
			}
		}
	}

	// .switcher-lang__list

	&__list {
		z-index: 4;
		position: absolute;
		display: flex;

		flex-direction: column;
		padding: toRem(15);
		transition: all 0.3s ease-in-out;
		opacity: 0;
		padding-left: toRem(0);
		pointer-events: none;
		&::before{
			content: "";
			position: absolute;
			top: toRem(-34);
			border-radius: toRem(8);
			background-color: $lightColor;
			box-shadow: 0 0 toRem(15) 0 rgba(0, 0, 0, 0.12);
			height: calc(100% + toRem(34));
			width: calc(100% + toRem(10));
			left: toRem(-5);
		}
	}

	// .switcher-lang__item

	&__item {
		z-index: 4;
		position: relative;
		transition: all 0.2s ease-in-out;
		@media (any-hover:hover) {
			&:hover{
				color: $yellowColor;
			}
		}
	
	}
}




.middle-header {
	position: relative;

	&__container{
		display: flex;
		gap: toRem(30);
		padding-block:toRem(25) ;
		flex-wrap: wrap;
		align-items: center;
		position: relative;
		@media (max-width: toRem(1100)) {
			
			gap: toRem(20);
		}
		@media (max-width: toRem(991.98)) {
			justify-content: space-between;
			
		}
		.menu-open & {
			z-index: 20;
			&::after {
				z-index: 20;
				content: "";
				position: absolute;
				inset-block-end: 0;
				inset-inline-start: 0;
				block-size: 100%;
				inline-size: 100%;
				background-color: #fff;
			}
		}
		// @media (max-width: toEm(1159.98)) {
		// 	gap: toRem(15);
		// 	padding-block: toRem(15);
		// }
		// @media (max-width: toEm(991.98)) {
		// 	display: grid;
		// 	grid-template-columns: 1fr auto 1fr;
		// }
		// @media (max-width: toEm(699.98)) {
		// 	padding-block: toRem(5);
		// }
	}
	&__logo{
		@media (max-width: toRem(1100)) {
			
			width: toRem(170);
			img{
				width: 100%;
			}
			@media screen{
				
			}
		}
	}
	// .middle-header__form

	&__form {
		// border-radius: 8px;
		// display: flex;
		// position: relative;
		// flex-grow: 1;
		
		
	}
	
	// .middle-header__social

	&__social {
		display: flex;
		gap: toRem(10);
		position: relative;
		
	}
	&__social-img{
		display: flex;
		justify-content: center;
		background-color: #b1b1b12a;
		width: toRem(50);
		height: toRem(50);
		border-radius: 100%;
		align-items: center;
		z-index: 3;
	}
	&__wrapper{
		display: flex;
		flex-direction: row-reverse;
		gap: toRem(10);
		align-items: center;
		@media (max-width:toRem(991.98)) {
			display: none;
		}
		&::before{
			z-index: 3;
			cursor: pointer;
		}

	}
	// .middle-header__phones-text

	&__phones-text {
		display: flex;
		flex-direction: column;
		position: relative;
	}

	// .middle-header__phones-time

	&__phones-time {
		z-index: 3;
		font-weight: 300;
		font-size: 13px;
		line-height: 169%;
		color: $greyColor;
	}

	// .middle-header__phone

	&__phone {
		z-index: 3;
		font-weight: 600;
		font-size: 20px;
		line-height: 140%;
	}

	// .middle-header__func

	&__func {
		display: flex;
		gap: toRem(20);
		font-size: toRem(23);
		color: $greyColor;
		& > *{
			display: flex;
			justify-content: center;
			align-items: center;
			width: toRem(50);
			height: toRem(50);
			border: toRem(2) solid $yellowColor;
			border-radius: 100%;
			transition: all 0.3s ease-in-out;
			@media (any-hover:hover) {
				&:hover{
					
					transform: scale(1.1);
				}
			}
		}
	}

}

.search-block {
		flex-grow: 1;
		@media (max-width: toEm(579.98)) {
			flex-grow: 0;
		}
	// .search-block__open
	&__open {
		display: none;
		@media (max-width:toRem(515.98)) {

			display: block;
			
			& > :last-child{
				display: none;
			
			}
			display: flex;
			gap: toRem(20);
			font-size: toRem(23);
			color: $greyColor;
			& > *{
				display: flex;
				justify-content: center;
				align-items: center;
				width: toRem(50);
				height: toRem(50);
				border: toRem(2) solid $yellowColor;
				border-radius: 100%;
				transition: all 0.3s ease-in-out;
				@media (any-hover:hover) {
					&:hover{
						
						transform: scale(1.1);
					}
				}

			}
		
		}	
		
	}

	// .search-block__body

	&__body {
		
		display: flex;
		align-items: center;
		
		
		// border: toRem(1) solid $lightGreyColor;
		// border-radius: 8px;
		// display: flex;
		// position: relative;
		// flex-grow: 1;
		// align-items:center ;
	// @media (max-width:toRem(991.98)) {
	// 	flex-shrink: 1;
	// 	max-width: toRem(400);
	// }
	// @media (max-width:toRem(515.98)) {

	// 	border: none;
		
	// }
	
	}
	&__btn-box{
		position: relative;
	}
	// .search-block__btn-submit

	&__btn-submit {		
		&::before{
			position: absolute;
			top: -3px;
			right: toRem(15);
			font-size: toRem(24);
			cursor: pointer;
			@media (max-width:toRem(515.98)) {
				display: none;
			}
		}
	}

	// .search-block__searh

	&__searh {
		@media (max-width:toRem(515.98)) {
			display: none;
			position: absolute;
			top: calc(100% + toRem(0));
			left: 0;
			border: toRem(1) solid $lightGreyColor;
			background-color: #fff;
			block-size: 40%;
			inline-size: 100%;
		}
		display: flex;
		font-weight: 400;
		align-items: center;
		align-self: center;
		font-size: toRem(16);
		line-height: 187%;
		color: $lightGreyColor;
		padding: toRem(10) toRem(15);
		
	}
}
.open{
	display: flex;
}

.list-phone-middle-header {
		
		position: absolute;
		display: flex;
		top: 110%;
		width: 100%;
		z-index: 2;
		flex-direction: column;
		gap: toRem(10);
		transition: all 0.3s ease-in-out;
		opacity: 0;
		pointer-events: none;
		&::before{
			content: "";
			position: absolute;
			top: toRem(-70);
			border-radius: toRem(8);
			background-color: $lightColor;
			box-shadow: 0 0 toRem(15) 0 rgba(0, 0, 0, 0.12);
			height: calc(100% + toRem(90));
			width: calc(100% + toRem(110));
			left: toRem(-70);
			
		}
		&__item {
			
			font-weight: 600;
			font-size: 20px;
			line-height: 140%;
			position: relative;
			&:last-child{
				color: $yellowColor;
				flex-grow: 1;
			}
		}
		
}
.--visible{
	opacity: 1;
	pointer-events: all;
}


.footer-header {
	border-top: toRem(1) solid rgba(177, 177, 177, 0.286);
	// .footer-header__list
	@media (max-width: toRem(991.98)) {
		padding: toRem(15);
		display: flex;
		gap: toRem(20);
		flex-wrap: nowrap;
		justify-content: space-between;
		
	}
	&__container{
		display: flex;
		justify-content: space-between;
		gap: toRem(50);
		flex-wrap: wrap;
		padding-block: toRem(18);
		@media (max-width:toRem(991.98)) {
			display: flex;
			flex-direction: column-reverse;
			
		}
		
	}
	&__list {
		font-weight: 600;
		font-size: toRem(19);
		line-height: 1.2;
		display: flex;
		gap: toRem(40);
		align-items: center;
		color: $greyColor;
		@media (max-width:toRem(1270)) {
			font-size: toRem(16);
			gap: toRem(20);
		}
		@media (max-width:toRem(991.98)) {
			display: flex;
			flex-direction: column;
			align-items: self-start;
		}
		a{
			transition: all 0.3s ease-in-out;
		@media (any-hover:hover) {
			&:hover{
				color: $yellowColor;
			}
			
		}
		}
	}
}
.sale-list {
	
	// .sale-list__item

	&__item {
		align-items: center;
		display: flex;
		gap: toRem(10);
		&::before{
			color: $yellowColor;
			font-size: toRem(24);
		}
		
	}
}


.catalog-header {
	display: flex;
	// .catalog-header__btn

	&__btn {
		
	}

	// .catalog-header__items

	&__items {
	}
}
.btn-catalog-header {
	
	background-color: $yellowColor;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-inline: toRem(20);
	padding-block: toRem(11);
	gap: toRem(10);
	border-radius: toRem(8);
	transition: all 0.3s;
	block-size: toRem(50);
	// .btn-catalog-header__icon

	&__icon {
		inline-size: toRem(24);
		aspect-ratio: 1 / 1;
		overflow: hidden;
		position: relative;
		span{
			position: absolute;
			inline-size: 100%;
			block-size: 100%;
			top: 0;
			left: 0;
			font-size: toRem(20);
			transition: transform 0.3s;
			&:first-child {
			}
			&:last-child {
				transform: scale(0);
			}
			.catalog-open & {
				&:first-child {
					transform: scale(0);
				}
				&:last-child {
					transform: scale(1);
				}
			}
		}
	}

	// .btn-catalog-header__text

	&__text {
		font-size: toRem(19);
		font-weight: 600;
	}
	@media (any-hover: hover) {
		&:hover {
			background-color: $mainColor;
			color: #fff;
		}
	}
}

.items-catalog-header {
	position: absolute;
	block-size: 100%;
	inset-inline-start: 0;
	inline-size: 100%;
	inset-block-start: calc(100% + toRem(10));
	@media (max-width:toRem(991.98)) {
		overflow: auto;
		inset-block-start: calc(60% + toRem(10));
		min-height: toRem(200);
	}
	visibility: hidden;
	
	opacity: 0;
	transform: all 0.3s;
	z-index: 2;
	// .items-catalog-header__wrapper
	.catalog-open & {
		visibility: visible;
		opacity: 1;
	}
	&__wrapper {
		position: absolute;
		inset-block-start: 0;
		max-width: toRem(300);
		inline-size: 100%;
		
		padding-block: toRem(10);
		z-index: 2;
		&::before,
		&::after {
			content: "";
			position: absolute;
			inset-inline-start: 0;
			background-color: #fff;
			z-index: 2;
			inline-size: 100%;
			block-size: toRem(10);
			
		}
		&::before {
			inset-block-start: 0;
			
		}
		&::after {
			inset-block-end: 0;
			border-bottom-left-radius: toRem(8);
		}
		
	}

	// .items-catalog-header__list

	&__list {
		position: relative;
		background-color: #fff;
		
		block-size: 100%;
		border-bottom-left-radius: toRem(8);
		&:hover{
			border-right: toRem(5) solid $yellowColor;
		}
		
		
		
	}

	// .items-catalog-header__item

	&__item {
		display: grid;
		grid-template-columns: 1fr toRem(24);
		min-height: toRem(60);
		padding-inline-start: toRem(30);
		padding-inline-end: toRem(15);

		@media (any-hover:hover) {
			&:hover{
				background-color: $yellowColor;
				.items-catalog-header__more{
					color: $mainColor;
				}
				
				.items-catalog-header__sub-menu{
					inset-inline-start: 100%;
					inline-size: 100%;
					pointer-events: all;
					&::before{
						border-bottom-left-radius: toRem(0);
						
					}
					
				}
			}
		}
		
	}

	// .items-catalog-header__link

	&__link {
		position: relative;
		flex-grow: 1;
		display: flex;
		align-items: center;
		gap: toRem(15);

		display: grid;
		grid-template-columns: toRem(40) 1fr;
		
		gap: toRem(15);
		z-index: 2;
		
	}

	// .items-catalog-header__icon

	&__icon {
		flex-grow: 1;
	}

	// .items-catalog-header__text

	&__text {
		font-weight: 600;
		font-size: toRem(20);
		line-height: 1.2;
		flex-grow: 1;
	}

	// .items-catalog-header__more

	&__more {
		color: $yellowColor;
		z-index: 2;
		position: relative;
		transform: rotate(-90deg);
		
	}

	// .items-catalog-header__sub-menu

	&__sub-menu {
		position: absolute;
		z-index: -1;
		padding-block: toRem(10);
		background-color: #fff;
		overflow:auto;
		transition: all 0.3s;
		inline-size: 0;
		padding-inline-start: toRem(30);
		padding-inline-end: toRem(20);
		inset-inline-start: 0;
		block-size: 100%;
		inset-block-start: 0;
		.--active & {			
				inset-inline-start: 100%;
				inline-size: 100%;
				pointer-events: all;
				&::before{
					border-bottom-left-radius: toRem(0);
				}
		}
		&::before,
		&::after{
			content: "";
			position: absolute;
			inset-inline-start: 0;
			background-color: #fff;
			z-index: 2;
			inline-size: 100%;
			block-size: toRem(0);
		}
		&::before {
			inset-block-start: 0;
			border-radius: 0 0 toRem(8) toRem(8);
		}
		&::after {
			bottom: 0;
			inset-block-end: 0;
		}
	}

	// .items-catalog-header__sub-list

	&__sub-list {
		
	}

	// .items-catalog-header__sub-item

	&__sub-item {
	}

	// .items-catalog-header__sub-link

	&__sub-link {
		font-weight: 400;
		font-size: toRem(19);
		line-height: 211%;
	}
}

.--active{
				
				
}

//Burger Icon
.icon-menu {
	
	display: none;
	@media (max-width: toEm(991.98)) {
		display: block;
		position: relative;
		width: toRem(30);
		height: toRem(18);
		flex-shrink: 0;
		z-index: 50;
		@media (any-hover: none) {
			
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: toRem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - toRem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - toRem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - toRem(1));
				transform: rotate(45deg);
			}
		}
	}
}
.header__burger{
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    transition: all 0.3s;
    width: 100%;
    height: 100%;
    background-color: $lightColor;
    z-index: 1;
    overflow: auto;
    padding-top: 194px;
    
}
.header__burger::before {
   
}
.menu-open .header__burger {
    left: 0;
}
.menu-open .header__burger::before {
    left: 0;
}
.burger-header__container {
    
}